---
import Header from "../components/Website/Header";
import Hero from "../components/Website/Hero";
import Features from "../components/Website/Features";
import Main from "../layouts/Website/Main.astro";
---

<Main title="App - Index">
  <Header client:visible />
  <Hero />
  <Features />
</Main>
