---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="css" href="/index.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      // Whenever the user explicitly chooses light mode
      localStorage.theme = "light";

      // Whenever the user explicitly chooses dark mode
      localStorage.theme = "dark";

      // Whenever the user explicitly chooses to respect the OS preference
      localStorage.removeItem("theme");
    </script>
    <style>
      .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 20px;
      }

      .scrollbar::-webkit-scrollbar-track {
        /* border-radius: 10px; */
        background: #f7f4ed;
      }

      .scrollbar::-webkit-scrollbar-thumb {
        background: #585757;
        /* border-radius: 10px; */
      }

      .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #585757;
      }
    </style>
  </head>
  <body class="scrollbar">
    <slot />
  </body>
</html>
