---
import Counter from "../../components/Counter";
import Header from "../../components/App/Header";
import Main from "../../layouts/App/Main.astro";
---

<Main title="App - Index">
  <Header client:visible />
  <!-- <Counter client:visible /> -->
</Main>
